@use '../abstracts/' as *;

%btn {
  display: inline-grid;
  place-content: center;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary {
  @extend %btn;

  --_btn-color: var(--clr-primary);

  padding: 0.8125em 2.25em;
  border: 0;
  border-radius: 100vmax;
  background-color: hsl(var(--_btn-color));
  color: var(--clr-white);
  font-size: var(--fs-button);
  font-weight: var(--fw-regular);
  box-shadow: inset 0 -0.1875em hsla(0, 0%, 0%, 15%),
    hsla(var(--_btn-color), 50%) 0 0.5em 1.25em;
  transition: 0.25s;

  &:is(:hover, :focus-visible) {
    opacity: 75%;
  }

  &[data-color='secondary'] {
    --_btn-color: var(--clr-secondary);
  }
}
