@use '../abstracts/' as *;

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

body {
  color: var(--clr-body);
  text-align: center;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  line-height: 1.625;
}

h1,
h2,
h3 {
  color: var(--clr-heading);
  font-family: var(--ff-heading);
  font-weight: var(--fw-semi-bold);
  line-height: normal;
}

.heading-tertiary {
  font-size: var(--fs-heading-tertiary);
}

.heading-secondary {
  font-size: var(--fs-heading-secondary);
}

.heading-primary {
  font-size: var(--fs-heading-primary);
}
